<div class="header-wrapper">

<div class="h-title">
  <h1>食べ歩きサイト</h1>
  <p>こちらは食べ歩きサイトです。気になるお店を見つけて、予約をしましょう！</p>
</div>

<nav>
  <ul>
    <% if user_signed_in? %>
    <p class="p-text">ようこそ、<%= current_user.name %>さん！</p>
    <li><%= link_to "マイページ", user_path(current_user) %></li>
    <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "ホーム",root_path %></li>
    <li><%= link_to "ログイン", new_user_session_path %></li>
    <li><%= link_to "新規登録", new_user_registration_path %></li>

  </ul>
</nav>
<% end %>

 
</div>



<h2>店舗一覧</h2>

<div class="search-wrapper">
<%= form_with url: shops_path, method: :get, local: true do |f| %>
  <div class="field">
    <%= f.label :search, "検索する" %>
    <%= f.text_field :search, value: params[:search] %>
     <%= f.submit "検索" %>
  </div>
  
<% end %>
</div>


<% if @shops.empty? %>
  <p class="count-shop">現在、登録されている店舗はありません。</p>
<% end %> 
<div class="shops-wrapper">
  <% @shops.each do |shop| %>
    <div class="shop-card">
      <h3><%= shop.title %></h3>
      <p><%= shop.description %></p>
      <p>カテゴリー：<%= shop.category %></p>
      <p>営業時間：<%= shop.open_time.strftime("%H:%M") if shop.open_time %> 〜 <%= shop.close_time.strftime("%H:%M") if shop.close_time %></p>
      <%= link_to "詳細・予約", shop_path(shop), class: "action-btn" %>
    </div>
  <% end %>
</div>  