<h2>予約情報入力</h2>


<%= form_with model: [@shop, @reservation], local: true do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="reservation-wrapper">
    <p class="font">店舗名：<%= @shop.title %></p>
    <div class="field">
      <%= f.label :date, "予約日" %><br>
      <%= f.date_field :date, min: Date.today %>
    </div>

  <div class="field">
    <%= f.label :time, "予約時間" %><br>
    <%= f.time_field :time %>
  </div>

  <div class="field">
    <%= f.label :number_of_people, "人数" %><br>
    <%= f.number_field :number_of_people, in: 1..20 %>
  </div>

  <div class="actions">
    <%= f.submit "予約する", class: "action-btn" %>
  </div>

</div>
<% end %>

<%= link_to "戻る", root_path, class: "back-link" %>